@model Sandwich2Go.Models.SandwichViewModels.SelectSandwichesForOfferViewModel

@{
    ViewData["Title"] = "Crear oferta";
}

<br />
<h2>Selecciona tus sándwiches</h2>
<br />
@* Form to fill in the filters to be used *@
<form asp-controller="Sandwiches" class="form-horizontal">
    <p>
        <div>
            <label asp-for="SandwichName"></label>
            <input id="filtrarPorNombre" asp-for="SandwichName" size="50" />
            <span asp-validation-for="SandwichName" class="text-danger"></span>

            <label asp-for="sandwichPrecio">Precio menor o igual</label>
            <input id="filtrarPorPrecio" asp-for="sandwichPrecio" size="5" required/>
            <span asp-validation-for="sandwichPrecio" class="text-danger"></span>

            <input id="filtrarSandwichesPorOferta" asp-action="SelectSandwichesForOffer" type="submit" value="Filtrar" formmethod="get" id="filterButton" />
        </div>
    </p>

    <div id="ModelErrors" asp-validation-summary="All" class="text-danger">@TempData["Error"]</div>

    <table class="table">
        <thead>
            <tr>
                <th width="30%">
                    Nombre
                </th>
                <th width="20%">
                    Precio
                </th>
                <th width="50%">
                    Ingredientes
                </th>
                <th align="center" width="10%">
                    Seleccionar Sándwich
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Sandwiches.Count() == 0)
            {
                <tr><td id="NoSandwiches" colspan="3">No hay sándwiches disponibles</td></tr>
            }
            else
            {
                @foreach (var item in Model.Sandwiches)
                {
                    <tr id="Sandwich_Name_@item.SandwichName">
                        <td width="30%">
                            @Html.DisplayFor(modelItem => item.SandwichName)
                        </td>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td width="50%">
                            @foreach (string ing in item.ingredientes)
                            {
                                @Html.DisplayFor(modelItem => ing)
                            }
                        </td>
                        <td align="center" width="10%">
                            <input type="checkbox" name="IdsToAdd" id="Sandwich_@item.SandwichName" value="@item.Id" class="form-control">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <form asp-action="SelectSandwichesForOffer" method="post">

        <button type="submit" class="btn btn-primary" id="SiguienteButton">Siguiente</button>
        <a asp-action="Index" class="btn btn-default">Cancelar</a>

    </form>
</form>

