@* model storing which data will be rendered by the View *@
@model Sandwich2Go.Models.ProveedorViewModels.SelectProveedoresViewModel

@{
    ViewData["Title"] = "Select Proveedores";
}

<h2>Order a purchase to supplier</h2>
@* Form to fill in the filters to be used *@

<!-- CREAMOS EL FORMULARIO CON LOS DATOS QUE SE ENVIARÁN AL MÉTODO GET SelectProveedoresForPurchase -->
<form asp-controller="Proveedores" class="form-horizontal">
    <p>
        <div>
            <label asp-for="proveedorCif"></label>
            <input asp-for="proveedorCif" size="50" />
            <span asp-validation-for="proveedorCif" class="text-danger"></span>

            <label asp-for="nombreProveedorSelected"></label>
            <select asp-for="nombreProveedorSelected" asp-items="Model.Nombres">
                <option value="">All</option>
            </select>
            <input id="filterbyNombres" asp-action="SelectProveedoresForPurchase" type="submit" value="Filter" formmethod="get" />
            <!-- <input asp-action="SelectProveedoresForPurchase" method="get" type="submit" value="Filtrar" /> -->
        </div>
    </p>


<!-- VALIDAMOS TODOS LOS DATOS DEL FORMULARIO -->

<div id="ModelErrors" asp-validation-summary="All" class="text-danger">@TempData["Error"]</div>


<!-- LOS PROVEEDORES SE MOSTRARÁN EN LA SIGUIENTE TABLA -->

    <table class="table">
        <thead>
            <tr>
                <th width="50%">
                    CIF
                </th>
                <th>
                    Proveedor
                </th>
                <th>
                    Nombre
                </th>
                <th align="center" width="10%">
                    Seleccionar Proveedor
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Proveedores.Count() == 0)
            {
                <tr><td id="NoProveedores" colspan="3">There are no suppliers available</td></tr>
            }
            else
            {
                @foreach (var item in Model.Proveedores)
                {
                    <tr id="Proveedor_Name_@item.Nombre">
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cif)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td align="center" width="10%">
                            <input type="checkbox" name="IdsToAdd" id="Proveedor_@item.Id" value="@item.Id" class="form-control">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!-- CREAMOS EL FORMULARIO CON LOS DATOS QUE SE ENVIARÁN AL MÉTODO POST SelectProveedoresForPurchase -->

    <form asp-action="SelectProveedoresForPurchase" method="post">

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-default">Cancelar</a>

    </form>
</form>