@* model storing which data will be rendered by the View *@
@model Sandwich2Go.Models.ProveedorViewModels.SelectProveedoresForPurchaseViewModel

@{
    ViewData["Title"] = "Select Supplier";
}

<h2>Select Supplier</h2>
@* Form to fill in the filters to be used *@
<form asp-controller="Proveedores" class="form-horizontal">
    <p>
        <div>
            <label asp-for="proveedorNombreSelected"></label>
            <input asp-for="proveedorNombreSelected" size="50" />
            <span asp-validation-for="proveedorNombreSelected" class="text-danger"></span>

            <input id="filterbyNombre" asp-action="SelectProveedoresForPurchase" type="submit" value="Filtro" formmethod="get" />
        </div>
    </p>

    <div id="ModelErrors" asp-validation-summary="All" class="text-danger">@TempData["Error"]</div>

    <table class="table">
        <thead>
            <tr>
                <th width="50%">
                    Nombre
                </th>
                <th width="50%">
                    Cif
                </th>
                <th width="50%">
                    Dirección
                </th>
                <th align="center" width="10%">
                    Seleccionar Proveedores
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Proveedores.Count() == 0)
            {
                <tr><td id="NoProveedores" colspan="3">There are no suppliers available</td></tr>
            }
            else
            {
                @foreach (var item in Model.Proveedores)
                {
                    <tr id="Proveedor_Name_@item.Nombre">
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Cif)
                        </td>
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            <a asp-controller="Ingredientes" asp-action="SelectIngrProvForPurchase" asp-route-IdProveedor="@item.Id" id="Proveedor_@item.Nombre">Comprar Ingredientes</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <form asp-action="SelectProveedoresForPurchase" method="post">

        <button type="submit" class="btn btn-primary" id="Siguiente">Siguiente</button>
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
    </form>
