@model Sandwich2Go.Models.PedidoSandwichPersonalizadoViewModels.PedidoCreateSandwichPersonalizadoViewModel


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


<form asp-action="CreateSandwichPersonalizado" method="post">

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-2 font-weight-bold">
                    Nombre:
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-2 font-weight-bold">
                    Apellidos:
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Apellido)
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label asp-for="DireccionEntrega" class="col-md-2 control-label font-weight-bold"></label>
                <span class="col-md-8">
                    <input asp-for="DireccionEntrega" class="form-control" height="20" />
                    <span asp-validation-for="DireccionEntrega" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group row">
                <label asp-for="Telefono" class="col-md-2 control-label font-weight-bold"></label>
                <span class="col-md-8">
                    <input asp-for="Telefono" class="form-control" height="20" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </span>
            </div>
            <div class="form-group row">
                <div class="col-2 font-weight-bold">
                    Cantidad de sándwiches
                </div>
                <span class="col-md-8">
                    <input asp-for="Cantidad" class="form-control" height="20" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </span>
            </div>
        </div>

        <input asp-for="IdCliente" type="hidden" class="form-control" />


        <div id="ModelErrors" asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <span class="col-md-10">
            <span asp-validation-for="ingPedidos" class="text-danger"></span>
        </span>
        <table class="table">

            <thead>
                <tr>
                    <th align="center">
                        Nombre
                    </th>
                    <th align="center">
                        Precio
                    </th>
                    <th align="center">
                        Cantidad
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ingPedidos.Count() == 0)
                {
                    <tr><td colspan="3">No has introducido ingredientes para comprar.</td></tr>
                }
                else
                {
                    @for (int i = 0; i < Model.ingPedidos.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ingPedidos[i].Nombre)
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.DisplayFor(modelItem => Model.ingPedidos[i].PrecioUnitario)

                                </div>
                            </td>
                            
                           
                          
                            <td>
                                <div class="form-group">
                                    <input asp-for="ingPedidos[i].Id" type="hidden" class="form-control" />
                                    <input asp-for="ingPedidos[i].PrecioUnitario" type="hidden" class="form-control" />
                                    
                                    <input asp-for="ingPedidos[i].Nombre" type="hidden" class="form-control" />
                                    <input asp-for="ingPedidos[i].cantidad" id="Ingrediente_Quantity_@Model.ingPedidos[i].Id" class="form-control" />
                                    <span asp-validation-for="ingPedidos[i].cantidad" class="text-danger" />

                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @* this code needs the script defined in site.js *@
        <div class="panel-group" id="accordion">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <div>
                        @*Subtotal: @Html.DisplayFor(modelItem => Model.PrecioTotal)<br /><br />*@
                        
                        @for (int i = 0; i < Model.ingPedidos.Count(); i++)
                        {
                            Model.PrecioTotal = Model.PrecioTotal + Model.ingPedidos[i].PrecioUnitario;
                                <div>
                               
                                    @*@Html.DisplayFor(modelItem => Model.ingPedidos[i].cantidad)*@
                                  
                                    
                                </div>
                                

                        }

                        <br />
                        @*<h6>Total : @Html.DisplayFor(modelItem => Model.PrecioTotal)</h6>*@
                    </div>
                    <br />
                    <h4 class="panel-title">
                        <label for='r11' style='width: 350px;'>
                            @* <input type='radio' id='r11' name='PaymentMethod' value='CreditCard' required checked /> Credit Card*@
                            <input type='radio' id='r11' asp-for='MetodoPago' value='Tarjeta' required /> Tarjeta de crédito
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <label asp-for="NumeroTarjetaCredito" class="control-label"></label>
                            <input asp-for="NumeroTarjetaCredito" class="form-control" size="20" />
                            <span asp-validation-for="NumeroTarjetaCredito" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="CCV" class="control-label"></label>
                            <input asp-for="CCV" class="form-control" size="3" />
                            <span asp-validation-for="CCV" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="MesCad" class="control-label"></label>
                            <input asp-for="MesCad" class="form-control" />
                            <span asp-validation-for="MesCad" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="AnoCad" class="control-label"></label>
                            <input asp-for="AnoCad" class="form-control" />
                            <span asp-validation-for="AnoCad" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class=panel-title>
                        <label for='r12' style='width: 350px;'>
                            @*<input type='radio' id='r12' name='PaymentMethod' value='PayPal' required /> PayPal*@
                            <input type='radio' id='r12' asp-for='MetodoPago' value='Efectivo' required /> Efectivo
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <h2>El repartidor te cobrará el pedido en la entrega.</h2>
                    <h6>¿Necesitas cambio para tu entrega?: @Html.CheckBoxFor(m => m.necesitaCambio)</h6>
                </div>
            </div>
        </div>
        <br>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        

                <input type="submit" id="CreateButton" value="CreateSandwichPersonalizado" class="btn btn-primary" />
           
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a mis pedidos</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


