@model IEnumerable<Sandwich2Go.Models.PedidoViewModels.PedidoIndexViewModel>

@{
    ViewData["Title"] = "Tus pedidos";
}

<h1>Tus pedidos:</h1>

<p>
    <a asp-controller="Sandwiches" asp-action="SelectSandwichForPurchase">Nuevo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                Ver detalles
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
